

.background-color{
  background-color: black;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: block;
  position: relative;
 
}

li ul { display: none; }

ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
}

ul li a:hover { background: red;
  color: #333;
  font-size: 15px;
 }

li:hover > ul {
  display: block;
  position: absolute;
}


li:hover a { 
  background: #333;
  color: white; 
  font-size: 15px;
}
.navbar-brand{
    color: #f44336;
    font-size: 34px;
   font-family: "Times New Roman", Times, serif;
   font-style: italic;
   
}



h3{
  background-color:lavenderblush;
}

.product_header {
  background-position-x: 10%;
}

.product_header_mask {
  height: 40px;
  background: linear-gradient(to bottom,rgba(0,0,0,1.0) 0,rgba(0,0,0,0.6) 100%);
}

.product_header_mask {
  height: 40px;
}

.maskedauto {width:100%}



.maskedleft, .maskedright {
  width: 5%;
  min-width: 10px;
  background-color: rgba(0,0,0,0.6);
}

.maskedcenter {
  min-width: 1200px;
  max-width: 1200px;
  background-color: transparent;
}

.fxdrow {
  width: 1200px;
  margin: 0 auto;
}

.product_header_mask_btm {
  height: 45px;
  background: linear-gradient(to bottom,rgba(0,0,0,0.6) 0,rgba(0,0,0,0.6) 100%);
}

.gu5 {
  width: 550px;
}


.maskedbg {
  background-color: rgba(0,0,0,0.6);
}

.padcol {
  padding-left: 15px;
  padding-right: 15px;
}



.phead_summary {
  color: #FFF;
}

.pad_btm2 {
  padding-bottom: 1.6rem;
}

.pad_btm1 {
  padding-bottom: 1rem;
  padding-left: 10rem;

}

.oswald {
  font-family: inherit;
  text-align: left;
}

.product_page_title,{font-size:2.5rem;line-height:2.5rem}

.phead_summary .release_year{font-size:1.5rem}

.lighter{font-weight:300}

.body{
background-color:white;
}
.ms_wrapper {
  border-top: 1px solid #666;
}

.rt_wrapper{
  border-top: 1px solid #666;
}

 div.title_bump{margin-bottom:1.6rem}

.summary_left {
  padding-top: 2px;
  vertical-align: top;
}
.pad_btm2 {
  padding-bottom: 1.6rem;
}

.oswald {
  font-family: inherit;
}

h3 { color: black;
  text-align: left;
  font-family: "Times New Roman";
  

}

h2{
  font-family: "Times New Roman";
  font-size: 200%
}
.h4 { color: black;
  font-family: "Times New Roman";
text-align: justify;
font-size: 120%;

}

h6{
  font-family: 'Times New Roman', Times, serif;
}

h5{
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

.score_description {
  line-height: 1.35rem;
    font-size: 1.8rem;
    font-family: "Times New Roman";

}

 .header_title {
  padding-top: 1.6rem;
}

.pad_top1 {
  padding-top: .8rem;
}

.score_details {
  font-size: .9rem;
}

i  {
  font-style: italic;
}



.user_rating_widget .ur {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1.0rem;
  text-align: center;
  vertical-align: middle;
  font-size: 1.0rem;
  line-height: 1.2rem;
  overflow: hidden;
  position: relative;
  background-color: rgba(80, 208, 224, 0.479);
  cursor: pointer;
  user-select: none;
  z-index: 1;
}

.user_rating_widget .ur_amber {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1rem;
  text-align: center;
  vertical-align: middle;
  font-size: 1.0rem;
  line-height: 1.2rem;
  overflow: hidden;
  position: relative;
  background-color: rgba(80, 208, 224, 0.479);
  cursor: pointer;
  user-select: none;
  z-index: 1;
}

.user_rating_widget .ur_green {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1rem;
  text-align: center;
  vertical-align: middle;
  font-size: 1.0rem;
  line-height: 1.2rem;
  overflow: hidden;
  position: relative;
  background-color: rgba(80, 208, 224, 0.479);
  cursor: pointer;
  user-select: none;
  z-index: 1;
}
.metascore_w {
  background-color: purple;
  color: black;
  text-align: right;
  font-size: 250%
}

.maskedcentre{
  size: 200%
}

.larger{font-size:30px}

.movie {padding:10rem 10 10rem 10}

.user_rating_widget .ur :hover{
  background-color: red;
}

.user_rating_widget .ur_amber :hover{
  background-color: orange;
}

.user_rating_widget .ur_green :hover{
  background-color: green;
}

.ur .number{display:block;position:absolute;width:100%;height:100%;z-index:2;color:#FFF;padding-top:2px;padding-right:1px}
.ur_amber .number{display:block;position:absolute;width:100%;height:100%;z-index:2;color:#FFF;padding-top:2px;padding-right:1px}
.ur_green .number{display:block;position:absolute;width:100%;height:100%;z-index:2;color:#FFF;padding-top:2px;padding-right:1px}



.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;

}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .1s;
  transition: .1s;
}

input:checked + .slider {
  background-color: gray;
  
}

input:focus + .slider {
  box-shadow: 0 0 1px gray;

}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

.videowrapper{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.video-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

footer { font-size: 85%;
  font-style: italic;
font-family: Georgia, "Times New Roman", serif;
text-align: center;
padding: 12px;
padding-top: 50px;
background-color: black;
color: white;

}