
.multi-item-carousel .carousel-inner > .item {
  -webkit-transition: 300ms ease-in-out left;
  transition: 300ms ease-in-out left;
}
.multi-item-carousel .carousel-inner .active.left {
  left: -33%;
}
.multi-item-carousel .carousel-inner .active.right {
  left: 33%;
}
.multi-item-carousel .carousel-inner .next {
  left: 33%;
}
.multi-item-carousel .carousel-inner .prev {
  left: -33%;
}
@media all and (transform-4d), (-webkit-transform-4d) {
  .multi-item-carousel .carousel-inner > .item {
    -webkit-transition: 300ms ease-in-out left;
    transition: 300ms ease-in-out left;
    -webkit-transition: 300ms ease-in-out all;
    transition: 300ms ease-in-out all;
    -webkit-backface-visibility: visible;
            backface-visibility: visible;
    -webkit-transform: none!important;
            transform: none!important;
  }
}
.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
  background-image: none;
}

body{
  background-color:  pink;
}
/*------------------*/

h3{
color: black;
font-family: 'Times New Roman', Times, serif;
font-style: bold;
font-size: 200%

}

.background-color{
  background-color: black;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: block;
  position: relative;
 
}

li ul { display: none; }

ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
}

ul li a:hover { background: red;
  color: #333;
  font-size: 15px;
 }

li:hover > ul {
  display: block;
  position: absolute;
}


li:hover a { 
  background: #333;
  color: white; 
  font-size: 15px;
}
.navbar-brand{
    color: #f44336;
    font-size: 34px;
   font-family: "Times New Roman", Times, serif;
   font-style: italic;
   
}


footer { font-size: 85%;
  font-style: italic;
font-family: Georgia, "Times New Roman", serif;
text-align: center;
padding: 12px;
padding-top: 50px;
background-color: black;
color: white;

}