#videobcg {
   position: absolute;
   top: 0px;
   left: 0px;
   min-width: 100%;
   min-height: 100%;
   width: auto;
   height: auto;
   z-index: -1000;
   overflow: hidden;
    -webkit-filter: blur(12px);
  -moz-filter: blur(9px);
  -o-filter: blur(9px);
  -ms-filter: blur(9px);
  filter: blur(3px);
}

#emailIcon{
  width: 45px;
  height: 45px;
}

.navbar-brand{
  color: #f44336;
  font-size: 34px;
 font-family: "Times New Roman", Times, serif;
 font-style: italic;
 
}

button:hover {
  opacity:1;
}


.background-color{
  background-color: black;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: block;
  position: relative;
}

li ul { display: none; }

ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
}

ul li a:hover { background: red;
  color: #333;
  font-size: 15px;
 }

li:hover > ul {
  display: block;
  position: absolute;
}


li:hover a { 
  background: #333;
  color: white; 
  font-size: 15px;
}


.page-navigation a {
  margin: 0 2px;
  
  display: inline-block;
  padding: 10px 8px;
  color: white;
  background-color: #333;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
}
 
#myInput {
    /*background-image: url('/css/searchicon.png');  Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 30%; /* Full-width */
    border-radius: 25px;
    background-color: #333;
    color: white;
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}


.page-navigation a[data-selected] {
  background-color: red;
}

#searchbox {
    position:absolute;

    top: 50%;
    display:inline-block;
    left: 25%;
    text-align: center;
    ;
}
.searchcountry input[type=text] {
	width: 530px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

 {box-sizing: border-box}
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.cancelbtn {
 <!-- padding: 14px 20px;-->
  background-color: #f44336;
  width: 2%;
}

.cancelbtn, .signupbtn {
  float: left;
  width: 10%;
}


.container {
  padding: 16px;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #474e5d;
  padding-top: 50px;
}


.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 3px solid #333;
  width: 90%; /* Could be more or less, depending on screen size */
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 20%;
    border-radius: 30%;
}

#mainbody{
  background-image: url("Images/backgroundimage.jpg");
  height: 100%;
}

.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*Added By Shubhi*/
body {
  background: #333;
  color: #ddd;
}

 /* Popover */
  .popover {
      border: 2px dotted black;
  }
  /* Popover Header */
  .popover-title {
      background-color: #333; 
      color: #FFFFFF; 
      font-size: 28px;
      text-align:center;
  }
  /* Popover Body */
  .popover-content {
      background-color: #333;
      color: #FFFFFF;
      padding: 25px;
  }
  #popoverlink{
    color: white;
  }
  /* Popover Arrow */
  .arrow {
      border-right-color: red !important;
  }

table {
    font-family: arial, sans-serif;
    border-collapse: separate;
    width: 100%;
    border-radius: 25px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    border-radius: 25px;
}

#musicicon{
    vertical-align: bottom;
    height: 10%;
    width: 90%;
}
#songicon{
  width: 300px;
  height: 350px;
}
#spanleft{
  float: left;
  width: 30%;
}
#spanright{
  float: right;
  width: 60%;
}
/*Added By Shubhi*/

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}


@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

/* For Rating */
.rating {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  color: red;
  content: '★';
  white-space: nowrap; }

.rating .star {
  display: inline-block;
  position: relative;
  letter-spacing: 0.05em; }

.rating .star::before {
  display: inline-block;
  color: #aaa;
  content: '☆';
  width: 1em;
  height: 1em; }

.rating .star::after {
  display: inline-block;
  position: absolute;
  content: '★';
  top: 0;
  left: 0;
  opacity: 0;
  width: 0;
  height: 0;
  transition: all 0.1s linear;
  overflow: hidden; }

.rating:not([disabled]) .star:hover::after,
.rating .star.active::after {
  opacity: 1;
  width: 1em;
  height: 1em; }

.rating .star.active.half::after {
  width: 0.5em; }


  footer { font-size: 85%;
    font-style: italic;
  font-family: Georgia, "Times New Roman", serif;
  text-align: center;
  padding: 12px;
  padding-top: 50px;
  background-color: black;
  color: white;
  
  }